.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #59775e;
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

fieldset {
  display: flex;
  width: 240px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


label {
  margin-bottom: 8px;
  font-size: 14px;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#but {
  justify-content: left;
  align-items: flex-start;
  text-align: left;

}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.FieldError {
  position: absolute;
  bottom: -2px;
  color: red;
  font-size: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

h2 {
  color: white;
  margin-left: 3%;
}

h1 {
  color:#F4CE14;
  margin-left: 3%;
  
}

main article {
  border: 1px solid #EDEFEE;
}

