.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 20px;
  font-family: 'Karla', sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  


}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
  letter-spacing: 2px;;

}

h1 {
  font-size: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: #F4CE14;;
}

h2 {
  font-size: 2.5rem;
  color: #F4CE14;
  margin:1rem 0;
}

p, ul{
  font-size: 1.25rem;;
  color: #080808;
}

a {
  color: #EE9972;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  border-radius: 15px;
  margin-left: 3%;
}

header img {
  display: flex;
  flex-direction: column;
  align-content:center;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;

}

 #hero p {
  color: #f8fbfa;
}

nav {
  display:flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  align-items:center;
}

nav ul {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  padding-inline-start: 0rem;
  margin-bottom: 0%;
  margin-top: 0%;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 0.5rem;
}

nav ul a {
  color: #0c0c0c;
  text-decoration: none;
}

nav ul a:active {
  text-decoration: underline;
}

nav ul a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  color: white
}


article {
  flex:1;
  border-radius: 15px;
}

article img {
  max-width: 100%;
  max-height: 100;
  border-radius: 15px;
}

article ul {
  list-style: none;
  
}

main article {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #59775e;

}



#price label{
  color: #EE9972;
  font-size: large;
}

#spc {
  display: flex;
  gap: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  
}




section {
  display: flex;
  flex-direction: column;
  gap: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  


}

#rj {
  text-align: center;
}

#button {
  padding: .5rem 1rem;
  border: 1px solid #495E57;
  background-color:#495E57;
  border-radius: 15px;
  width: 80%;
  font-size: 1.25rem;
  display: block;
  color: #fff;
  line-height: 25px;
  
}

#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../src/components/Grill_B.jpg');
  background-size: cover;
  background-position: 75%;
  border-radius: 15px;
  color: white;
  min-height: 200px;
  text-align: center;
}

#hero h1 {
  color:#59775e
}


#hero p {
  font-size: 2rem;
  margin:0;
  text-shadow: 2px 2px 4px #333333;
}

.cta { 
  display: inline-block; 
  color: rgba(255, 255, 255, 0.9);
  width: 200px; 
  font-weight: bold; 
  font-size: 1.5rem;
  padding: 8px; 
  border: 3px solid #fff; 
  text-align: center; 
  outline: none; 
  text-decoration: none; 
  margin: 1rem;
  border-radius: 15px;
} 

.cta:hover {
  color: black;
  background:#495E57;
  border: 3px solid black; 
}


.cta2 { 
  display: inline-block; 
  color: rgba(6, 6, 6, 0.9);
  width: 200px; 
  font-weight: bold; 
  font-size: 1.5rem;
  padding: 8px; 
  border: 3px solid hsl(0, 0%, 1%); 
  text-align: center; 
  outline: none; 
  text-decoration: none; 
  margin: 1rem;
  border-radius: 15px;
} 

.cta2:hover {
  color:#fff;
  background:#495E57;
  border: 3px solid #fff; 
}



.heading-shadow {
  text-shadow: 1px 1px 4px #333333;
}


button:hover {
  color: rgba(255, 255, 255, 0.9);
  background:#59775e;
  border: 1px solid #F4CE14;
}

button {
  padding: .5rem 1rem;
  border: 1px solid #59775e;
  background-color:#F4CE14;
  border-radius: 15px;
  width: 100%;
  font-size: 1.25rem;
  display: block;
  line-height: 25px;
}

#bookbg {
  background-color: #59775e;
  border: none;
 
}
#bookbg h1{
  color:#F4CE14;
}
#bookbg h2{
  color:hsl(45, 50%, 98%)
}

#bc {
  text-align: center;
  border: none;
}

#bgc {
  background-color: #59775e;
  
}

footer {
  background-color: #59775e;
  padding: 1rem;
  display: flex;
  gap: 2rem 1rem;
  border-radius: 15px;
  
}


footer img {
  max-width: 50%;
  border-radius: 5px;
}

footer p {
  border-top: #333333;
  border-style: solid;
  border-width: 0.1rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: right;
  padding-top: 1rem;;
  color:#EDEFEE

}

main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;

}

.row {
  display: grid;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;

}

.column {
  flex-basis: 50%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.column figure {
  padding: 0px 12px;

}

figure {
  margin: 0;
}

label {
  font-weight: bold;
  display: block;
}

input, select{
  width: 80%;
  display: block;
  padding: .5rem 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}


